"*":
  core:
    audioBeep: false
    projectHome: "/home/alex/Code"
    telemetryConsent: "no"
  editor:
    fontSize: 16
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  welcome:
    showOnStartup: false
