'atom-text-editor':

    'ctrl-e': 'editor:move-to-end-of-line'
    'ctrl-a': 'editor:move-to-first-character-of-line'

    'ctrl-alt-e': 'editor:select-to-end-of-line'
    'ctrl-alt-a': 'editor:select-to-begining-of-line'

    'ctrl-p': 'core:move-up'
    'ctrl-n': 'core:move-down'

    'ctrl-alt-p': 'core:select-up'
    'ctrl-alt-n': 'core:select-down'

    'ctrl-j': 'core:move-left'
    'ctrl-;': 'core:move-right'

    'alt-j': 'core:select-left'
    'alt-;': 'core:select-right'

    'ctrl-alt-j': 'editor:select-to-beginning-of-word'
    'ctrl-alt-;': 'editor:select-to-end-of-word'

    'alt-f2': 'bookmarks:toggle-bookmark'

'.platform-linux atom-text-editor':

    'ctrl-J': 'editor:move-to-previous-subword-boundary'
    'ctrl-:': 'editor:move-to-next-subword-boundary'
